
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.dll
/bin/Debug/net8.0
/bin
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.dll
obj/Debug/net8.0/project.razor.vscode.bin
obj/Debug/net8.0/inmobiliaria-Toloza-Lopez.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/inmobiliaria-Toloza-Lopez.csproj.AssemblyReference.cache
obj/Debug/net8.0/inmobiliaria-Toloza-Lopez.AssemblyInfoInputs.cache
obj/Debug/net8.0/inmobiliaria-Toloza-Lopez.AssemblyInfo.cs
*.exe
*.dll
/bin/Debug/net8.0
/obj/Debug/net8.0
/obj
*.dll
*.exe
*.bin
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.dll
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.exe
obj/Debug/net8.0/project.razor.vscode.bin
/bin/Debug
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.dll
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.dll
bin/Debug/net8.0/inmobiliaria-Toloza-Lopez.dll
/bin/Debug
