@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h1 class="text-center">Acceso Denegado</h1>
                </div>
                <div class="card-body">
                    <p class="text-center">Lo sentimos, no tenes el permiso para acceder a esta página.</p>
                    <p class="text-center">Por favor, ponete en contacto con el administrador del sistema.</p>
                </div>
            </div>
        </div>
    </div>
</div>
