@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section login {
    <div class="container mt-5">
        <div class="row justify-content-center">          
            <div class="col-md-6">
                @if (TempData["mensaje"] != null) @Html.Raw(TempData["mensaje"])
                <div class="card">
                    <div class="card-header">Inicio de sesión</div>
                    <div class="card-body">
                        <form method="POST" asp-controller="Login" asp-action="login">
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" />
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <div class="input-group" id="show_hide_password">
                                    <input type="password" class="form-control" id="password" name="password" />
                                    <div class="input-group-addon">
                                        <button type="button" id="btnPass" class="btn btn-dark"><i id="pass-status"
                                                class="fa fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a asp-controller="Login" asp-action="enviarMail" type="button"
                                        class="btn btn-secondary">recuperar Contraseña </a>
                                </div>
                                 @if (!ViewData.ModelState.IsValid || TempData["ErrorMessage"] != null)
                                    {
                                        <div class="alert col-sm-12 text-center alert-danger mt-4">
                                        @* <div class="alert alert-danger m-2" role="alert"> *@
                                            @if (!ViewData.ModelState.IsValid)
                                            {
                                                <span>Error en los datos ingresados.</span>
                                                <br />
                                            }
                                            @if (TempData["ErrorMessage"] != null)
                                            {
                                                <span>@TempData["ErrorMessage"]</span>
                                                <br />
                                            }
                                        </div>
                                    }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>       
    </div>
}

@section Scripts {
    <script>
        document.getElementById("btnPass").addEventListener("click", function (e) {
            e.preventDefault();
            var passwordInput = document.getElementById("password");
            var passStatus = document.getElementById("pass-status");

            if (passwordInput.type == "password") {
                passwordInput.type = 'text';
                passStatus.className = 'fa fa-eye-slash';
            } else {
                passwordInput.type = 'password';
                passStatus.className = 'fa fa-eye';
            }
        });
    </script>
}
