@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Recuperar contraseña";
    string token=ViewBag.token;
}

@section recuperarPass {
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="text-center">Cambiar contraseña</h2>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["ErrorMessage"]
                            </div>
                        }
                        <form method="post" asp-controller="Login" asp-action="recovery" id="passwordForm">
                               <input type="hidden" name="token" value=@token />             
                
                            <div class="form-group">
                                <label for="newPassword">Nueva Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" required />
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirme la contraseña:</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    required>
                            </div>
                            <div class="form-group">
                                <button type="button" id="btnPass" class="btn btn-dark"><i id="pass-status"
                                        class="fa fa-eye"></i></button>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        document.getElementById("btnPass").addEventListener("click", function (e) {
            e.preventDefault();
            var passwordInput = document.getElementById("password");
            var confirmPasswordInput = document.getElementById("confirmPassword");
            var passStatus = document.getElementById("pass-status");

            if (passwordInput.type == "password" && confirmPasswordInput.type == "password") {
                passwordInput.type = 'text';
                confirmPasswordInput.type = 'text';
                passStatus.className = 'fa fa-eye-slash';
            } else {
                passwordInput.type = 'password';
                confirmPasswordInput.type = 'password';
                passStatus.className = 'fa fa-eye';
            }
        });

        document.getElementById("passwordForm").addEventListener("submit", function (e) {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password != confirmPassword) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Ups...',
                    text: '¡Las contraseñas no coinciden!',
                });
            }
        });
    </script>
}
